body
{
    background-color: #555;
}
.inner-container
{
    width: 500px;
}
.allparts
{
    width: 401px;
    height: 409px;
    border: 5px solid #999;
    border-radius: 5px;
    box-shadow: 0px 0px 20px white;
}

.imgpart
{
    height: 133px;
    width: 133px;
    font-size: 4.1px;
    
}

#img-11
{
    background: url('../images/11.jpg');
    background-size: 100% 100%;
}
#img-12
{
    background: url('../images/12.jpg');
    background-size: 100% 100%;
}
#img-13
{
    background: url('../images/p33.jpg');
    background-size: 100% 100%;
}
#img-21
{
    background: url('../images/21.jpg');
    background-size: 100% 100%;
}
#img-22
{
    background: url('../images/22.jpg');
    background-size: 100% 100%;
}
#img-23
{
    background: url('../images/23.jpg');
    background-size: 100% 100%;
}
#img-31
{
    background: url('../images/31.jpg');
    background-size: 100% 100%;
}
#img-32
{
    background: url('../images/32.jpg');
    background-size: 100% 100%;
}
#img-33
{
    background: url('../images/33.jpg');
    background-size: 100% 100%;
    box-sizing: border-box;
}